.title-clickable {
    cursor: pointer;
    margin-left: 1rem;

    @media only screen and (min-width: 768px) {
        margin-left: 4rem;
        margin-right: 4rem;
    }
}

.menu-item-icon {
    margin-right: 1rem;
}

.hidden-sm {
    display: none;

    @media only screen and (min-width: 768px) {
        display: block;
    }
}

.hidden-md {
    display: block;

    @media only screen and (min-width: 768px) {
        display: none;
    }
}
