<mat-nav-list>
  <h2 mat-list-item class="title-clickable hidden-sm" routerLink="/">Exps Trkcr</h2>
  <h2 mat-list-item class="title-clickable hidden-md" routerLink="/">ET</h2>

  <a mat-list-item routerLink="dashboard">
    <mat-icon class="menu-item-icon">pie_chart</mat-icon>
    <span class="hidden-sm">Dashboard</span>
  </a>

  <a mat-list-item routerLink="expenses">
    <mat-icon class="menu-item-icon">call_made</mat-icon>
    <span class="hidden-sm">Expenses</span>
  </a>

  <a mat-list-item routerLink="incomes">
    <mat-icon class="menu-item-icon">call_received</mat-icon>
    <span class="hidden-sm">Incomes</span>
  </a>

  <a mat-list-item routerLink="frequencies">
    <mat-icon class="menu-item-icon">autorenew</mat-icon>
    <span class="hidden-sm">Frequencies</span>
  </a>

  <a mat-list-item routerLink="expensetypes">
    <mat-icon class="menu-item-icon">format_list_bulleted</mat-icon>
    <span class="hidden-sm">Expense Types</span>
  </a>
</mat-nav-list>
