<h2 mat-dialog-title>{{item && item.id ? 'Edit' : 'New'}} Frequency</h2>

<mat-dialog-content>
    <div layout>
        <form fxLayout="column" #form="ngForm">
            <mat-form-field>
                <input matInput placeholder="Name" [(ngModel)]="item.description" name="description" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Av. Time per Month" type="number" [(ngModel)]="item.averageTimesPerMonth"
                    name="averageTimesPerMonth" required>
            </mat-form-field>
        </form>
    </div>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="item" [disabled]="!form.form.valid">Save</button>
</mat-dialog-actions>